generator {
    thread_pool {
        size = 16
    }
    gira_travels {
        enabled = true
        data_path = /opt/isel/thesis/impads/spds-benchmark/giragen/data/viagens_gira_2018.csv
        threads = 1
        workspace_path = /opt/isel/thesis/impads/spds-benchmark/giragen/workspace
        queue_name = gira_travels
    }
    waze {
        irregularities {
            enabled = true
            data_path = /opt/isel/thesis/impads/spds-benchmark/giragen/data/waze_irregularidades_2018.csv
            threads = 1
            workspace_path = /opt/isel/thesis/impads/spds-benchmark/giragen/workspace
            queue_name = waze_irregularities
        }
        jams {
            enabled = true
            data_path = /opt/isel/thesis/impads/spds-benchmark/giragen/data/waze_jams_2018.csv
            threads = 1
            workspace_path = /opt/isel/thesis/impads/spds-benchmark/giragen/workspace
            queue_name = waze_jams
        }
    }
}
rabbitmq {
    host = "{{ hostvars['misc-infrastructure-0']['networkInterfaces'][0]['networkIP'] }}"
    port = 5672
    connection_timeout_ms = 5000
    handshake_timeout_ms = 5000
    username = "admin"
    password = "admin"
}
metrics {
    statsd {
        host = {{ hostvars['misc-infrastructure-0']['networkInterfaces'][0]['networkIP'] }}
        port = 8125
        agent = TELEGRAF
    }
}