version: "3.7"

services:
  giragen-generator:
    container_name: giragen-generator
    image: impads/giragen-generator:0.0.1-SNAPSHOT
    restart: always
    volumes:
      - "./application.conf:/opt/isel/thesis/impads/spds-benchmark/giragen/conf/application.conf:ro"
      - "/opt/isel/thesis/impads/spds-benchmark/giragen/data:/opt/isel/thesis/impads/spds-benchmark/giragen/data:ro"

networks:
  default:
    external:
      name: spds-network