storm.zookeeper.servers:
    - "zookeeper"

nimbus.seeds: ["nimbus"]

storm.local.hostname: "supervisor"

supervisor.slots.ports:
    - 6700

worker.childopts: "-XX:+UseG1GC -Xmx8g -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5%ID% -javaagent:/opt/flink/jolokia-jvm-1.6.2-agent.jar=port=8778,host=0.0.0.0"