**/target/**
**/.idea/**
.properties
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/wars/*

*.yml
*.ini

spds-benchmark/spds-metrics-monitorization/metrics-monitor/grafana/
spds-benchmark/spds-metrics-monitorization/metrics-monitor/influxdb/
spds-benchmark/spds-infrastructure/ansible/files/

*.jar

log4j2.xml
*.yaml
*.conf
*.properties

.terraform/

*.json

*.env

*/grafana/*
*/influxdb/*

!spds-infrastructure/ansible/**
spds-infrastructure/ansible/files/**
