taskmanager.host: {{ hostvars[ansible_hostname]['networkInterfaces'][0]['networkIP'] }}
taskmanager.rpc.port: 50100
taskmanager.data.port: 40100

taskmanager.memory.task.heap.size: 24g
taskmanager.memory.managed.size: 0g
taskmanager.memory.task.off-heap.size: 4g

taskmanager.numberOfTaskSlots: 8

state.backend: filesystem
state.checkpoints.dir: file:///data/flink/checkpoints

blob.server.port: 6124
query.server.port: 6125
