version: '3.7'
services:

    kafkadrop:
        image: obsidiandynamics/kafdrop:3.27.0
        container_name: kafka-web-ui
        ports:
            - "9000:9000"
        environment:
            - KAFKA_BROKERCONNECT={{ kafka_bootstrap_server }}