version: "3.7"

services:

    job-manager:
        image: flink:1.11.1-scala_2.12-java11
        container_name: job-manager
        ports:
            - "8081:8081"
            - "6123:6123"
            - "6124:6124"
            - "30100:30100"
        command: jobmanager
        environment:
            - JOB_MANAGER_RPC_ADDRESS={{ flink_services.flink_job_manager_address }}
        volumes:
            - ./flink-conf.yaml:/opt/flink/conf/flink-conf.yaml