jobmanager.rpc.address: {{ flink_services.flink_job_manager_address }}
jobmanager.rpc.port: 6123

jobmanager.memory.heap.size: 3g

jobmanager.execution.failover-strategy: region

state.backend: filesystem

state.checkpoints.dir: file:///data/flink/checkpoints

blob.server.port: 6124
query.server.port: 6125