version: '3.7'
services:

      kafka-stream:
        build:
            context: .
            dockerfile: Dockerfile-kafka-stream
        container_name: kafka-stream-gira-topology
        volumes:
            - ./topology.conf:/opt/isel/thesis/impads/spds-kafka/topology/conf/topology.conf