version: '3.7'
services:

    supervisor:
        image: impads/storm:2.2.0
        container_name: supervisor
        command: storm supervisor
        restart: always
        volumes:
            - "./storm.yaml:/conf/storm.yaml"
        ports:
            - "8000:8000"
            - "6700:6700"
            - "6701:6701"
            - "6702:6702"
            - "6703:6703"
