storm.zookeeper.servers:
    - "{{ storm_services.storm_nimbus_address }}"

nimbus.seeds: ["{{ storm_services.storm_nimbus_address }}"]

storm.local.hostname: {{ storm_services.storm_supervisor_address }}

supervisor.slots.ports:
    - 6700
    - 6701
    - 6702
    - 6703
    - 6704
    - 6705
    - 6706
    - 6707

worker.childopts: "-Xmx14g"

worker.heap.memory.mb: 14000
topology.worker.max.heap.size.mb: 14000