version: "3.7"

services:
  rabbitmq:
    image: rabbitmq:3.8.9-management
    container_name: rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=<username>
      - RABBITMQ_DEFAULT_PASS=<password>
    ports:
      - 5672:5672
      - 8080:15672
  redis:
    image: bitnami/redis:6.0.9
    container_name: redis
    environment:
      - REDIS_AOF_ENABLED=no
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - 6379:6379

networks:
  default:
    external:
      name: spds-network
