name=WazeJamsConnector
connector.class=RabbitMQSourceConnector
tasks.max=1

rabbitmq.host={{ kafka_connectors.rabbitmq.host }}
rabbitmq.port=5672
rabbitmq.username=admin
rabbitmq.password=admin
rabbitmq.queue=waze_jams

kafka.topic=waze_jams

key.converter=org.apache.kafka.connect.storage.StringConverter
value.converter=org.apache.kafka.connect.storage.StringConverter

key.converter.schemas.enable=false
value.converter.schemas.enable=false

key.serializer=org.apache.kafka.common.serialization.VoidSerializer
value.serializer=org.apache.kafka.common.serialization.StringSerializer
