name=WazeIrregularitiesConnector
connector.class=RabbitMQSourceConnector
tasks.max=1

rabbitmq.host={{ hostvars['misc-infrastructure-0']['networkInterfaces'][0]['networkIP'] }}
rabbitmq.port=5672
rabbitmq.username=admin
rabbitmq.password=admin
rabbitmq.queue=waze_irregularities

kafka.topic=waze_irregularities

key.converter=org.apache.kafka.connect.storage.StringConverter
value.converter=org.apache.kafka.connect.storage.StringConverter

key.converter.schemas.enable=false
value.converter.schemas.enable=false

key.serializer=org.apache.kafka.common.serialization.VoidSerializer
value.serializer=org.apache.kafka.common.serialization.StringSerializer
