version: '3.7'
services:

      kafka-connect-standalone:
        image: impads/kafka-connect:2.13-2.6.0
        container_name: kafka-connect-rabbit-mq-{{ item.name }}-queue
        volumes:
            - /opt/impads/containers/kafka-connect/connectors:/opt/connectors
            - ./connect-standalone.properties:/opt/kafka/config/connect-standalone.properties
            - ./connect-standalone.properties:/opt/kafka/config/connect-rabbit-mq.properties