storm.zookeeper.servers:
    - "{{ hostvars['storm-zookeeper-0']['networkInterfaces'][0]['networkIP'] }}"

nimbus.seeds: ["{{ hostvars['storm-nimbus-0']['networkInterfaces'][0]['networkIP'] }}"]

storm.local.hostname: {{ hostvars['storm-nimbus-0']['networkInterfaces'][0]['networkIP'] }}
