version: '3.7'

services:

      kafka-connect:
        image: impads/kafka-connect:2.6.0
        container_name: kafka-connect
        volumes:
            - /tmp:/tmp
            - </path/to/connect-standalone.properties>:/opt/bitnami/kafka/config/connect-standalone.properties
            - </path/to/connect-rabbit-mq.properties>:/opt/bitnami/kafka/config/connector.properties