export SPDS_INFRASTRUCTURE_PATH=path/to/spds/infrastructure

export AWS_ACCESS_KEY="<AWS_ACCESS_KEY>"
export AWS_SECRET_ACCESS_KEY="<AWS_SECRET_ACCESS_KEY>"

export CONNECT="$SPDS_INFRASTRUCTURE_PATH/tools/impads_connect.py --cloud-provider AWS $1"