export SPDS_INFRASTRUCTURE_PATH=path/to/spds/infrastructure

export GOOGLE_APPLICATION_CREDENTIALS=</path/to/google/application/credentials>

export GCP_CONNECT=$INFRASTRUCTURE_PATH/tools/gcp_impads_connect.py